<html>
  <head>
    <title>DSCI6007 Data Engineering</title>
  </head>
  <body bgcolor=lightblue>

    <table border="0" cellpadding="10">
      <tr>
        <td>
          <img src="images/springsource.png">
        </td>
        <td>
          <h1>Bay Area Uber Product Price Sugre Analysis</h1>
          <h2>Project: GalvanizeU DSCI Program 2017</h2>
          <h3>Author: Srini Ananthakrishnan</h3>
        </td>
      </tr>
    </table>
    <ul>
      <li>1) <a href="/DAG">Architecture Diagram</a>.
      <li>2) <a href="/uberCluster">Uber Product Analysis</a>.
    </ul>

  </body>
</html>
